src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="insertDatatoSFMC" doc:id="e0f016e7-536b-440a-8c1f-b21cdc73de9b" >
		<set-payload value="#[[payload]]" doc:name="payloadToArray" doc:id="e0ca9d39-f2ce-4694-b7d7-00ff4de86ff9" />
		<ee:transform doc:name="Transform Message" doc:id="3dfb4602-8905-4170-8dfa-9cc4821d244b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	FirstName__c: payload01.firstName,
	LastName__c: payload01.lastName,
	Contact__c: payload01.contact,
	LastUpdated__c: payload01.lastUpdated as String,
	EmployeeID__c: payload01.eid
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="90b73793-0dc4-4ae4-aee4-07fc86054b30" config-ref="Salesforce_Config" type="Employee__c" />
		<set-payload value='#[output application/json --- {"message": "Record added successfully"}]' doc:name="Set Payload" doc:id="807e3e7b-849f-4a4d-af39-b4de3dec1c7a" />
	</flow>
</mule>
